.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}
.left__side-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97vh;
    border-radius: 1.3rem;
}

.right__side-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48.5%;
    height: 97vh;
    border: 1px solid var(--border-color);
    border-radius: 1.3rem;
    position: fixed;
    right: 0;
    z-index: 1;
}

.right__side-about iframe {
    width: 100%;
    height: 100%;
    border-radius: 1.3rem;
    border: none;
}

@media (max-width: 469px) {
    .about {
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        gap: 0.5rem;
    }

    .left__side-about {
        width: 100%;
        height: 100vh;
    }
    .right__side-about {
        position: relative;
        width: 100%;
    }
}
@media  (max-width: 380px) {
    .about {
        padding: 0.2rem;
        gap: 0.5rem;
    }
    .left__side-about {
        width: 100%;
        height: 107vh;
    }
    .right__side-about {
        position: relative;
        width: 100%;
    }
}

@media (min-width: 1680px) {
    .about {
        padding: 1rem;
    }
    .left__side-about {
        height: 97vh;
        width: 100%;
    }
    .right__side-about {
        height: 96vh;
    }
}