.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    grid-gap: 1rem;
}

.left__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 97vh;
    border-radius: 1.3rem;
    padding: 0.5rem;
}

.left__side_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97vh;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1rem;
}

.right__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 46.5%;
    height: 97vh;
    border: 1px solid var(--border-color);
    border-radius: 1.3rem;
    position: fixed;
    right: 0;
    z-index: 1;
}