.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;

}

.left__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    min-height: 97vh;
    border-radius: 1.3rem;

}



.right__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 47.5%;
    height: 97vh;
    border: 1px solid var(--border-color);
    border-radius: 1.3rem;
    position: fixed;
    right: 0;
    z-index: 1;
}

@media (max-width: 940px) {
    .home {
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
}
    .left__side {
        width: 93%;
    }
}

@media (max-width: 685px) {
    .home {
    grid-template-columns: repeat(1, 1fr);
    padding: 0.2rem;
}
    .right__side {
        display: none;
    }
    .left__side {
        width: 100%;
    }    
}