.upperBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    top: 0;

}

.upperBox__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 4rem;
}

.upperBox__container h1 {
    font-size: 5rem;
    text-transform: capitalize;
    color: var(--title-color);
    font-family: 'Lobster';
    letter-spacing: 0.2rem;
}

.resv__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    bottom: 0;
    background-color: var(--nav-overlay-color);
    cursor: pointer;
}

.resv__button span {
    font-size: 1rem;
    color: var(--container-color);
    font-family: 'GeneralSans-Regular';
    letter-spacing: 0.1rem;
}