.upperBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    top: 0;

}

.upperBox__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2em;
}

.upperBox__container h1 {
    font-size: 5rem;
    text-transform: capitalize;
    color: var(--title-color);
    font-family: 'Lobster';
    letter-spacing: 0.2rem;
}

.resv__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    background-color: var(--nav-overlay-color);
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.resv__button span {
    font-size: 1rem;
    color: var(--container-color);
    font-family: 'GeneralSans-Regular';
    letter-spacing: 0.1rem;
}

.resv__button:hover {
    background-color: var(--accent-color);
}



@media (max-width: 680px) {
    .upperBox {
        width: 100%;
        height: 62vh;
    }
}


@media (max-width: 469px) {
    .upperBox {
        width: 100%;
        height: 50vh;
    }

    .upperBox__container h1 {
        font-size: 2.6rem;
        text-align: center;
    }

    .resv__button {
        width: 97%;
        margin-top: 1rem;
    }
}

@media (max-width: 380px) {
        .upperBox {
        width: 100%;
        height: 60vh;
    }
    .upperBox__container h1 {
        font-size: 2.2rem;
    }
        .resv__button {
        width: 95%;
    }
}
