.nav {
    position: fixed;
    top: 2rem;
    left: 1.5rem;
    width: 49%;
    height: 4rem;
    z-index: 1000;
    margin: 1rem;
    border-radius: 1rem;
    border: 0.7px solid var(--border-color);
    background-color: var(--background-color);
}

.nav.open {
    border: 1px solid var(--container-color);
    background-color: var(--nav-overlay-color);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    position: relative;
    z-index: 999999;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--text-color);
    stroke-width: 2.5;
    stroke-linecap: round;
}

.line.open {
    stroke: var(--container-color);
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

.nav__logo h1 {
    font-family: 'GeneralSans-Regular';
    font-size: 1.5rem;
    color: var(--accent-color);
}

.nav__right {
    display: flex;
    align-items: center;
}

.nav__right h1 {
    font-family: 'GeneralSans-Light';
    font-size: 1.5rem;
    margin-right: 1rem;
}

.nav-overlay {
	position: absolute;
	z-index: -2;
	top: 0;
	width: 100%;
	height: 100vh;
	transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
	background-color: var(--nav-overlay-color);
    left: 0rem;
    border-radius: 1rem;
}

@media (max-width: 560px) {
    .nav {
        width: 95%;
        left: 0;
    }
}