.smallRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1rem;
}

.smallRight__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.smallRight__cards {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    height: 60%;

}

.smallRight__card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    gap: 1rem;
    border-top: 0.5px solid var(--border-color);
    padding: 1rem 0;
}

.smallRight__card:last-child {
    padding-bottom: 0;
}

.smallRight__card-end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.smallRight__card h1 {
    font-size: 0.9rem;
    color: var(--title-color);
    font-family: 'GeneralSans-Regular';
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.smallRight__card-end p {
    font-size: 0.9rem;
    color: var(--accent-color);
    font-family: 'GeneralSans-Light';
    letter-spacing: 0.1rem;
}
.smallRight__card-end a {
    font-size: 0.9rem;
    color: var(--accent-color);
    font-family: 'GeneralSans-Light';
    letter-spacing: 0.1rem;
}

@media (min-width: 1680px) {

    .smallRight__card {
        padding: 0rem 0;
    }
    .smallRight__container {
        margin-top: 7rem;
    }
    .smallRight__card-end {
        padding-bottom: 1rem;
    }
}