.mainImage {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1rem;
}

.upper__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--container-color);
    border-radius: 0.7rem;
    padding: 1rem;
    position: absolute;
    width: 95%;
    margin: 1rem;
    gap: 1rem;
    z-index: 9999;
}

.upper__container h1 {
    font-size: 1rem;
    color: var(--container-color);
    font-family: 'GeneralSans-Regular';
    letter-spacing: 0.1rem;
}

.mainImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    position: relative;
    z-index: 9999;
}

.text-container.hidden {
    opacity: 0;
    transform: translateY(20px);
}



.imageStyle {
    transform: translateX(0);
    transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.imageStyle.hidden {
    transform: translateX(20px);
}