.menu {
    border: 1px solid var(--border-color);
    border-radius: 1.2rem;
    padding: 0.3rem;
    min-height: 100vh;
    width: 100%;
    margin-top: 1rem;
}

.menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 0.5rem;
    gap: 2rem;
    min-height: 88vh;
    width: 100%;
    padding-top: 4rem;
}

.menu__container h1 {
    font-size: 5rem;
    text-transform: capitalize;
    color: var(--title-color);
    font-family: 'Lobster';
    letter-spacing: 0.2rem;
}

.menu__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;

}

.menu__category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.5rem;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.menu__category h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--title-color);
    font-family: 'GeneralSans-Regular';
    letter-spacing: 0.2rem;
}

.menu__category-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.menu__item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    pointer-events: none;
    user-select: none;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.menu__item:hover img {
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    transform: scale(1.05);
}

.menu__item p {
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--title-color);
    font-family: 'GeneralSans-Regular';
    letter-spacing: 0.1rem;
}

.preview__modal {
    position: fixed;
    top: 0%;
    left: 46.8rem;
    width: 48%;
    height: 103%;
    background: rgba(250, 247, 237, 0.652);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(141, 141, 141, 0.3);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 99999999;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.preview__content {
    width: 100%;
    height: 50%;
    position: relative;
    left: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.preview__content img {
    width: 98%;
    height: 100%;
    object-fit: cover;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    border-radius: 1.2rem;
    margin-top: 0.3rem;
}

.preview__close {
    display: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 999999;
}

.preview__close button {
    width: 2.3rem;
    height: 2rem;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    border-radius: 0.1rem;
    font-size: 2em;
    color: var(--nav-overlay-color);
    background-color: transparent;
    font-family: 'GeneralSans-Regular';
}

.preview__description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
}

.preview__description h1 {
    font-size: 4rem;
    text-transform: capitalize;
    color: var(--nav-overlay-color);
    font-family: 'Lobster';
    letter-spacing: 0.2rem;
}

.prev__description_ingri {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
    text-align: left;
}

.prev__description_ingri span {
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--nav-overlay-color);
    font-family: 'GeneralSans-Regular';
    letter-spacing: 0.1rem;
}

.prev__description_ingri p {
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--nav-overlay-color);
    font-family: 'GeneralSans-Regular';
    letter-spacing: 0.1rem;
}

.prev__description_price span {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--accent-color);
    font-family: 'GeneralSans-Italic';
    letter-spacing: 0.1rem;
}

@media (max-width: 560px) {
    .menu__category-items {
        grid-template-columns: repeat(2, 1fr);

    }
    .menu__item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .menu__container h1 {
        font-size: 2.5rem;
    }

    .preview__modal {
        position: fixed;
        width: 100%;
        min-height: 80vh;
        left: 0%;
        top: 8rem;
    }
    .preview__content {
        gap: 2rem;
    }
    .preview__content img {
        width: 23rem;
        height: 20rem;
        object-fit: cover;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
        border-radius: 1.2rem;
        margin-top: 0.3rem;

    }
    .preview__description {
        gap: 0.5rem;
    }
    .preview__description h1 {
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }
    .preview__close button {
        color: var(--container-color);
    }    
    .preview__close {
        display: block;
    }
    .prev__description_ingri p {
        font-size: 0.8rem;
    }
    .prev__description_ingri {
        width: 100%;
    }
    .prev__description_ingri span {
        font-size: 0.8rem;
        width: 100%;
    }
    .prev__description_price span {
        font-size: 1.4rem;
    }
}