.aboutUpper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    height: 100%;
}

.aboutUpper__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1rem;
    height: 82.5vh;
    width: 100%;

}

.aboutUpper__container h1 {
    font-size: 7rem;
    text-transform: capitalize;
    color: var(--title-color);
    font-family: 'Lobster';
    letter-spacing: 0.2rem;
}

.aboutUpper__container p {
    font-size: 1rem;
    color: var(--title-color);
    font-family: 'GeneralSans-Light';
    letter-spacing: 0.1rem;
}

.aboutLower {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0rem;
}

.aboutLower__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    gap: 1rem;
    height: 14vh;
    margin-bottom: 1rem;
    width: 100%;
    margin-top: 1rem;
    bottom: 3rem;
    position: relative;
}

.resv__button_about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    background-color: var(--nav-overlay-color);
}

.resv__button_about span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--container-color);
    font-family: 'GeneralSans-Light';
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.aboutUpper__lower {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0rem;
    gap: 1rem;
}

.aboutUpper__lower-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0rem;
}

.aboutUpper__lower-imgs img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.aboutUpper__lower-imgs img:hover{
    transform: scale(1.1);
}

.aboutUpper__lower-imgs img:nth-child(1) {
    margin-left: 1rem;
}

.aboutUpper__lower-imgs img:nth-child(2) {
    margin-left: -1rem;
}

.about__lower_tex span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-color);
    font-family: 'GeneralSans-Light';
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.about__lower_tex p {
    font-size: 1rem;
    color: var(--title-color);
    font-family: 'GeneralSans-Light';
    letter-spacing: 0.1rem;
}

@media (min-width: 1690px) {    
    .aboutUpper__container {
        gap: 4rem;
    }
}